# Entornos virtuales y dependencias
venv/
env/
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Datos (Estos son los que pesan más de 100MB)
*.csv
dataset_global_raw.csv
!todas_las_ubicaciones.json
# Modelos y Encoders (Se generan localmente al entrenar)
models/
*.pkl
*.json

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Excepciones (Archivos JSON que SÍ queremos subir porque son de configuración)
!todas_las_ubicaciones.json